<div class="author">
  <picture>
    <source srcset="/assets/img/avatar-70.webp 1x, /assets/img/avatar-140.webp 2x" type="image/webp" />
    <img
      class="author-avatar"
      src="/assets/img/avatar-70.jpg"
      srcset="/assets/img/avatar-70.jpg 1x, /assets/img/avatar-140.jpg 2x"
      alt="{{ site.author.username }}"
      width="70"
      height="70"
      loading="lazy"
      decoding="async"
    />
  </picture>
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
</div>
