<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = "{{ site.url }}{{ page.url }}";
    this.page.identifier = "{{ page.id }}";
  };

  (function () {
    var disqusLoaded = false;
    function loadDisqus() {
      if (disqusLoaded) return;
      disqusLoaded = true;
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.comments.disqus.shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    }

    var target = document.getElementById('disqus_thread');
    if ('IntersectionObserver' in window && target) {
      var observer = new IntersectionObserver(function (entries) {
        if (entries[0].isIntersecting) {
          loadDisqus();
          observer.disconnect();
        }
      }, { rootMargin: '400px 0px' });
      observer.observe(target);
    } else {
      window.addEventListener('load', function () {
        setTimeout(loadDisqus, 3000);
      });
    }
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>